TestApp/Service References/OnlinerHub/OnlinerHub3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CacheHub.Model2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CacheHub.Model2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentItem" nillable="true" type="tns:ContentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentItem" nillable="true" type="tns:ArrayOfContentItem" />
  <xs:complexType name="ContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" type="tns:ContentItemType" />
      <xs:element minOccurs="0" name="LatestLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xaml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentItem" nillable="true" type="tns:ContentItem" />
  <xs:simpleType name="ContentItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Header" />
      <xs:enumeration value="Content" />
      <xs:enumeration value="Footer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentItemType" nillable="true" type="tns:ContentItemType" />
</xs:schema>