TestApp/Service References/OnlinerHub/OnlinerHub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlinerHub" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CacheHub" />
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CacheHub.Model2" />
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CacheHub.Model" />
      <xsd:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CacheHub.Model.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlinerHub_GetReadability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadability" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetReadability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetContentXaml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContentXaml" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetContentXaml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentXamlResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeader" />
  </wsdl:message>
  <wsdl:message name="IOnlinerHub_GetHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnlinerHub">
    <wsdl:operation name="GetReadability">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinerHub/GetReadability" message="tns:IOnlinerHub_GetReadability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinerHub/GetReadabilityResponse" message="tns:IOnlinerHub_GetReadability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinerHub/GetComments" message="tns:IOnlinerHub_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinerHub/GetCommentsResponse" message="tns:IOnlinerHub_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContentXaml">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinerHub/GetContentXaml" message="tns:IOnlinerHub_GetContentXaml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinerHub/GetContentXamlResponse" message="tns:IOnlinerHub_GetContentXaml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinerHub/GetHeader" message="tns:IOnlinerHub_GetHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinerHub/GetHeaderResponse" message="tns:IOnlinerHub_GetHeader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOnlinerHub" type="tns:IOnlinerHub">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReadability">
      <soap:operation soapAction="http://tempuri.org/IOnlinerHub/GetReadability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/IOnlinerHub/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentXaml">
      <soap:operation soapAction="http://tempuri.org/IOnlinerHub/GetContentXaml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeader">
      <soap:operation soapAction="http://tempuri.org/IOnlinerHub/GetHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlinerHub">
    <wsdl:port name="BasicHttpBinding_IOnlinerHub" binding="tns:BasicHttpBinding_IOnlinerHub">
      <soap:address location="http://onlinerhub.apphb.com/OnlinerHub.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>