Onliner/Service References/OnlinerHub/OnlinerHub.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CacheHub" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CacheHub" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommentsPageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfCommentDto" />
      <xs:element minOccurs="0" name="next_page_cursor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previous_page_cursor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentsPageDto" nillable="true" type="tns:CommentsPageDto" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="tns:AuthorDto" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="AuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="avatar_source_uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profile_uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorDto" nillable="true" type="tns:AuthorDto" />
</xs:schema>