Onliner/Service References/OnlinerHub/OnlinerHub1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onlinerhub.apphb.com/OnlinerHub.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CacheHub" />
  <xs:element name="GetReadability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReadabilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cursor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CacheHub" minOccurs="0" name="GetCommentsResult" nillable="true" type="q1:CommentsPageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>