NewsHub/NewsHub/Service References/OnlinerHub/OnlinerHub.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CacheHub" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CacheHub" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommentsPageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfCommentDto" />
      <xs:element minOccurs="0" name="next_page_cursor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="previous_page_cursor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentsPageDto" nillable="true" type="tns:CommentsPageDto" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="tns:AuthorDto" />
      <xs:element minOccurs="0" name="content" nillable="true" type="tns:ContentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="AuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="avatar_source_uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profile_uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorDto" nillable="true" type="tns:AuthorDto" />
  <xs:complexType name="ContentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfBlockItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentDto" nillable="true" type="tns:ContentDto" />
  <xs:complexType name="ArrayOfBlockItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockItemDto" nillable="true" type="tns:BlockItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlockItemDto" nillable="true" type="tns:ArrayOfBlockItemDto" />
  <xs:complexType name="BlockItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfBlockItemDto" />
      <xs:element minOccurs="0" name="content" nillable="true" type="tns:ParagraphDto" />
      <xs:element minOccurs="0" name="is_blockquote" type="xs:boolean" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockItemDto" nillable="true" type="tns:BlockItemDto" />
  <xs:complexType name="ParagraphDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfParagraphItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParagraphDto" nillable="true" type="tns:ParagraphDto" />
  <xs:complexType name="ArrayOfParagraphItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParagraphItem" nillable="true" type="tns:ParagraphItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParagraphItem" nillable="true" type="tns:ArrayOfParagraphItem" />
  <xs:complexType name="ParagraphItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParagraphItem" nillable="true" type="tns:ParagraphItem" />
  <xs:complexType name="ArticlePageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="next_page_cursor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="paragraphs" nillable="true" type="tns:ArrayOfParagraphBase" />
      <xs:element minOccurs="0" name="previous_page_cursor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticlePageDto" nillable="true" type="tns:ArticlePageDto" />
  <xs:complexType name="ArrayOfParagraphBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParagraphBase" nillable="true" type="tns:ParagraphBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParagraphBase" nillable="true" type="tns:ArrayOfParagraphBase" />
  <xs:complexType name="ParagraphBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ParagraphBase" nillable="true" type="tns:ParagraphBase" />
  <xs:complexType name="TextBlock">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContentItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="TextModifiers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextBlock" nillable="true" type="tns:TextBlock" />
  <xs:complexType name="BaseContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseContentItem" nillable="true" type="tns:BaseContentItem" />
  <xs:complexType name="Table">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ParagraphBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:ArrayOfTableRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ArrayOfTableRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TableRow" nillable="true" type="tns:TableRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTableRow" nillable="true" type="tns:ArrayOfTableRow" />
  <xs:complexType name="TableRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableRow" nillable="true" type="tns:TableRow" />
  <xs:complexType name="ArrayOfP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P" nillable="true" type="tns:P" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP" nillable="true" type="tns:ArrayOfP" />
  <xs:complexType name="P">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ParagraphBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfBaseContentItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="P" nillable="true" type="tns:P" />
  <xs:complexType name="ArrayOfBaseContentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseContentItem" nillable="true" type="tns:BaseContentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseContentItem" nillable="true" type="tns:ArrayOfBaseContentItem" />
  <xs:complexType name="Image">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContentItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="HRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="A">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContentItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="HRef" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="A" nillable="true" type="tns:A" />
  <xs:complexType name="Video">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Image">
        <xs:sequence>
          <xs:element minOccurs="0" name="VideoId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Video" nillable="true" type="tns:Video" />
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="tns:Image" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTag" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="HRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="tns:TagSize" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:simpleType name="TagSize">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Small" />
      <xs:enumeration value="Big" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TagSize" nillable="true" type="tns:TagSize" />
</xs:schema>